.heading__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 0 32px;
}

.heading__subtitle {
  font-family: var(--font-family-body);
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  padding: 0;
  margin: 0 0 32px;
  color: #ccc;
  font-weight: 600;
}

.heading__title {
  font-weight: 900;
  font-family: var(--font-family-serif);
  font-size: var(--font-size-heading);
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 16px;
  text-align: center;
}
